

.container {
	margin: 20px;
	border: none!important;
}

.container_heading {
	margin: 20px;
}

.home_Heading {
	font-family: "Source Sans Pro";
	text-align: center;
	color: #262131;
	padding: 50px;
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	column-gap: 20px;
	flex-wrap: wrap;
}

.cssHeading {
	border: 1px solid lightgray;
	text-align: center;
	background-color: aliceblue;
}

.urlHeading {
	text-align: center;
}

.elementHeading {
	text-align: center;
	border:1px solid lightgray;
	background-color: aliceblue;
}

.cssProperty {
	text-align: center;
}

.parent {
	display: flex;
	flex-wrap: wrap;
}

.child {
	flex: 1 0 21%; /* explanation below */
	/* margin: 5px */
	background-color: aliceblue;
}

.userInput {
	margin: 0 10% 50px 10%;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

.btn {
	height: 40px;
	background-color: #4799FF;
	font-size: 14px;
	color: white;
	border-radius: 2px;
	border: none;
	margin: 20px 20px 0 0;
	padding: 0 15px;
}

.btn_error {
	width: 10%;
	margin-left: 45%;
}

#urlList {
	display: none;
	padding: 20px;
}

.box1 {

}

.cssProperty {
	padding: 10px 0;
}
.test{
	background-color: red;
}

.basicLabel{
	font-family: "Source Sans Pro";
	grid-column: 2/span 7;
	font-size: 20px;
	margin-top: 20px;
}

.basicInput{
	grid-column: 11/span 1;
}

.basicSearch{
	grid-column: 2/span 9;
	height: 50px;
	border-radius: 5px;
	border: 1px solid lightgray;
	font-size: 20px;
	font-family: "Source Sans Pro";
	text-align: center;
}


.basicSearch::placeholder {
font-size: 20px;
	text-align: center;
}

.inputBox {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	column-gap: 20px;
	flex-wrap: wrap;
}
.btn_input{
	width: 100%;
	height: 100%;
	background: #4799FF;
	border-radius: 5px;
	font-family: SourceSansPro-Semibold;
	font-size: 16px;
	color: #FFFFFF;
	letter-spacing: 0.6px;
	border: none;
	margin-left: -10px;
}

.userForm{
	grid-column: 1 / span 12;
}

.lds-roller {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}
.lds-roller div {
	animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	transform-origin: 40px 40px;
}
.lds-roller div:after {
	content: " ";
	display: block;
	position: absolute;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: lightgray;
	margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
	animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
	top: 63px;
	left: 63px;
}
.lds-roller div:nth-child(2) {
	animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
	top: 68px;
	left: 56px;
}
.lds-roller div:nth-child(3) {
	animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
	top: 71px;
	left: 48px;
}
.lds-roller div:nth-child(4) {
	animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
	top: 72px;
	left: 40px;
}
.lds-roller div:nth-child(5) {
	animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
	top: 71px;
	left: 32px;
}
.lds-roller div:nth-child(6) {
	animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
	top: 68px;
	left: 24px;
}
.lds-roller div:nth-child(7) {
	animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
	top: 63px;
	left: 17px;
}
.lds-roller div:nth-child(8) {
	animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
	top: 56px;
	left: 12px;
}
@keyframes lds-roller {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

#loadIcon {
	display:none;
	position: relative;
	
}

.container {
	font-family: "Source Sans Pro";
	margin: 20px auto;
	padding: 0 20px;
	width: 90%;
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(24, 1fr);
	column-gap: 20px;
	flex-wrap: wrap;
	margin-bottom: 50px;
}

.sidebar {
	grid-column: 1/span 3;
	border-right: 4px solid #4799FF;
	margin: 20px 0 ;
}

.labelbar{
	grid-column: 4/span 5;
	text-align: right;
}
.mainWindow {
	grid-column: 9/span 12;
}

.mainWindowColors {
	grid-column: 9/span 16;
	display: grid;
	grid-template-columns: repeat(20, 1fr);
	column-gap: 20px;
	flex-wrap: wrap;
}

.sidebar_heading{
	font-weight: bold;
	text-align: center;
	position: relative;
	top: -10px;
	color: #242424;
	font-size: 22px;
}

@media screen and (max-width: 1240px) {
	.sidebar_heading{
		font-size: 10px;
	}
	
}

.container_heading {
	margin: 100px 0px;
}

.buttonWrapper{
	margin-top: 20px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 20px;
	flex-wrap: wrap;
	
}
#buttonBlock1 {
	margin: 20px 0;
	grid-column: 9/ span 5;
}

#buttonBlock2 {
	margin: 10px 0 20px 0;
	grid-column: 14/ span 8;
}

.btn_primary{
	width: 140px;
	height:35px ;
	background: #4799FF;
	border-radius: 17.5px;
	font-family: SourceSansPro-Semibold;
	font-size: 13px;
	color: #FFFFFF;
	letter-spacing: 0.6px;
	border: none;
	margin: 10px 10px;
}

.btn_primary--pressed {
	width: 140px;
	height:35px ;
	border: none;
	margin: 10px 10px;
	background: #4473AD;
	border-radius: 17.5px;
	font-family: SourceSansPro-Semibold;
	font-size: 13px;
	color: #FFFFFF;
	letter-spacing: 0.6px;
	
}

.btn_primary--disabled{
	width: 140px;
	height:35px ;
	border: none;
	margin: 10px 10px;
	background: #D6D7D8;
	border-radius: 17.5px;
	font-family: SourceSansPro-Semibold;
	font-size: 13px;
	color: #FFFFFF;
	letter-spacing: 0.6px;
}

.buttonText{
	font-family: Helvetica;
	font-size: 15px;
	color: #242424;
	letter-spacing: 0;
}

.colorBlock1 {
	grid-column: 1 / span 7;
	height: 17vw ;
	background-color: #6b9fff;
	margin-top: 10px;
	margin-bottom: 30px;
}


.colorBlock2 {
	grid-column: 8 / span 3;
	height: 17vw ;
	background-color: #dddddd;
	margin-top: 10px;
	margin-bottom: 30px;
	
}

.colorBlock3 {
	grid-column: 11/span 7;
	height: 17vw;
	background-color: #2471ff;
	margin-top: 10px;
	margin-bottom: 30px;
	
}

.colorLabel {
	color: white;
	position: relative;
	top: 81%;
	left: 5%;
}

.colorBlockSC1 {
	margin-top: 10px;
	grid-column: 9 / span 5;
	background-color: #00264C;
	height: 5vw;
}
.colorBlockSC2 {
	margin-top: 10px;
	grid-column: 14 / span 5;
	background-color: #4473AD;
	height: 5vw;
}
.colorBlockSC3 {
	margin-top: 10px;
	grid-column: 19 / span 5;
	background-color: #D6D7D8;
	height: 5vw;
}
.colorBlockSC4 {
	margin-top: 10px;
	grid-column: 9 / span 5;
	background-color: #00264C;
	height: 5vw;
	opacity: 60%;
}
.colorBlockSC5 {
	margin-top: 10px;
	grid-column: 14 / span 5;
	background-color: #4473AD;
	height: 5vw;
	opacity: 60%;
}
.colorBlockSC6 {
	margin-top: 10px;
	grid-column: 19 / span 5;
	background-color: #D6D7D8;
	height: 5vw;
	opacity: 60%;
}

.colorLabelSC {
	text-align: center;
}

.headingBox {
	margin-bottom: 60px;
}

#oldVersion {
	display: none;
}






